* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
}

.clock-container {
  display: flex;
}

.clock-element {
  font-size: 50px;
  margin: 0 10px;
  background: linear-gradient(to right, #29313f, #722579);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
